<!--
File: home.html
Author: Bognár Dávid
Copyright: 2022, Bognár Dávid
Group: Szoft I/N
Date: 2022-05-26
Github: https://github.com/BognarDavidMark/
Licenc: GNU GPL
-->

<h2>Űrlap</h2>

<form action="calc.php" method="post">
    <div class="form-conrol">
        <label for="aSide">A tengely</label>
        <input type="text" name="aSide" id="aSide">
    </div>
    <div class="form-conrol">
        <label for="bSide">B tengely</label>
        <input type="text" name="bSide" id="bSide">
    </div>
    <button type="submit" name="submit" class="btn btn-primary mt-2">Számít</button>
</form>